html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
body{background-color:#fff;color:#666;min-height:100%;height:auto!important;height:100%}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font:12px/1 "宋体","Microsoft Yahei",arial,simhei}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;vertical-align:middle}
a{text-decoration:none}
a:visited{}a:hover{text-decoration:underline}
a:active{}ul,li,ol{list-style:none}
strong,b{font-weight:normal}
em,i{font-style:normal}
iframe{display:block}
fieldset{border:1px solid #c0c0c0;margin:0 2px 18px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
s{text-decoration:none;}
#container{
	margin:0 auto;
	width:1280px;
}
#head{
	width:1280px;
	margin:0 auto;
}
#top{
	background:#00003f;
	margin:0 auto;
	color:#fff;
	font-size:12px;
}
#top_head{
	margin: 0 auto;
	width: 1280px;
	height: 36px;
	line-height: 36px;
}
#top_head strong{
	float:left;
	font-weight:normal;
}
#top_head p{
	float:right;
	padding:0;
	margin:0;
	text-decoration:none;
}
#top_head a{
	color:#fff;
	text-decoration:none;
}
#top_head a:hover{
	text-decoration:underline;
}
#top_head span{
	padding:0 5px 0 5px;
}

#top_ad{
	margin:0 auto;
	width:1280px;
}
#top_ad img{
	margin:0 auto;
	padding:0;
}
#top_center{
	width:1280px;
	margin:0 auto;
	padding: 10px 0;
}
#top_logo{
	float:left;
	margin:10px;
	width:202px;
}
#top_serch{
	float:left;
	width:930px;
}
.search_form{
	position:relative; 
	height:50px; 
	margin:24px 0 0 90px;
	display:inline-block;
} 
.search_form:hover{
	-webkit-box-shadow:0 0 3px #bc001d;
	-moz-box-shadow:0 0 3px #bc001d;
} 
.sinput{
	float:left; 
	width:600px; 
	height:40px; 
	*height:38px; 
	line-height:21px; 
	padding:4px 7px;
	font-size:16px;
	color: #b3b3b3;
	border:1px solid #bc001d; 
	border-radius:2px 0 0 2px; 
	background-color:#fbfbfb;
} 
.sbtn{
	float:left; 
	width:100px; 
	height:48px; 
	padding:0 12px; 
	margin-left:-1px;  
	border-radius:0 2px 2px 0; 
	border:1px solid #bc001d; 
	background-color:#bc001d; 
	cursor:pointer;  
	display:inline-block; 
	font-size:18px; 
	vertical-align:middle; 
	color:#f3f7fc;
} 
.sbtn:hover{background:#8d0f15;}

#top_navi{
	margin:0 auto;
	width:1280px;
	height:50px;
}

.fl{display:inline;float:left}.fr{display:inline;float:right}
.lh36 {line-height: 36px}
.lh30 {line-height: 30px}
.pl20 {padding-left: 20px}
 
h2{font-family: "microsoft yahei"; font-size: 14px;}
.wd240{ width: 240px;}
.wd252{width: 232px;}
.ht399{height: 399px;}
.ht14{ height: 14px;}
.lh33{ line-height: 33px;}
.lh23{ line-height: 23px;}
.lh12{ line-height: 12px;}
.pb10{ padding-bottom: 10px;}
.pb20{ padding-bottom: 20px;}
.pr20{ padding-right:20px;}
.wd204{ width: 204px;}
.wd443{ width: 443px;}
.wd185{ width: 185px;}
.ml19{ margin-left: 19px;}
.pt30{ padding-top: 30px;} 
.pb12{ padding-bottom: 12px;}
.bt{border-top: 1px solid #eae7e7;}
.gray{color: #999;}
.blee{ border-left: 1px solid #eeeeee;}
.fwblod{ font-weight:bold;}
 
.nav-wrap{
	position:relative;
	*z-index:2;	width: 100%;
	background: #bc001d;
}
.nav{
	position: relative;
	height: 50px;
	margin: 0 auto;
	padding-left: 229px;
}
.goods{
	background:#00003f;
	position: absolute;
	top: 0;
	left: 0;
	width: 219px;
	height: 50px;
}
.goods h2 a {
	display: block;
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	color: #fff;
}
.goods h2 a:hover{ text-decoration:none;}
 
.nav-list{ height: 50px;}
.nav-list li{ float: left; margin-right:1px;}
.nav-list a{
	display: block;
	height: 50px;
	float: left;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	font: bold 15px/50px "microsoft yahei";
	text-decoration: none;
}
.nav-list a:hover{
	background: #8d0f15;
	text-decoration: none;
}
.nav-list a.on{
	background: #8d0f15;
}
.all-goods{
	position: absolute;
	width: 219px;
	top: 50px;
	left: 0;
	height: 404px;
	background: #dfdfdf;
	border: none;
	overflow: visible;
}
.all-goods .item{
	width: 219px;
	height: 34px;
	background: #dfdfdf;
	border-bottom: 1px solid #c8c8c8;
	border-top: 1px solid #ebebeb;
}
.all-goods .btnone, .all-goods .item:first-child{
	border-top:none;
}
.all-goods .item:last-child{
	border-bottom:none;
}
.all-goods .item .product{
	background-position:40px center;
	position: absolute;
	z-index: 999; 
	width: 219px;
}
.all-goods .item .product h3{
	width: 157px;
	height: 34px;
	padding-left: 28px;
	border-width: 1px 0;
	font-weight: normal;
	line-height: 36px; 
	background: no-repeat -12px 12px;
}
.all-goods .item .product h3 a{
	padding-left:50px;
	color: #666666; 
	font-size:14px; 
	font-family:"宋体";
}
.all-goods .item .product h3 a:hover{text-decoration:none;}
.all-goods .item .product s{
	display: block;
	position: absolute;
	top: 13px;
	left: 167px;
	width: 6px;
	height: 9px;
}
.all-goods .active .product h3{
	line-height: 32px;
	/* background-position: -12px -185px; */
	background-color: #fff7f0;
	border: 2px solid #ffb556;
	/* border-width: 2px 0; */
	width: 158px;
	border-right: none;
}
.all-goods .active .product h3 a{ color: #ff6600;}
.all-goods .product-wrap{
	min-height: 160px;
	position: absolute; 
	width: 478px; 
	z-index: 99; 
	border:2px solid #ffb556; 
	background: #fff7f0;
	padding: 20px; 
	display: none;
}
.all-goods .product-wrap p{color:#999999;}
.all-goods .posone{left: 186px; top: 0px;}
.all-goods .postwo{left: 186px; top: 20px;}
.all-goods .posthree{left: 186px; top: 57px;}
.all-goods .posfour{left: 186px; top: 94px;}
.all-goods .posfive{left: 186px; top: 131px;}
.all-goods .possix{left: 186px; top: 168px;}
.all-goods .posseven{left: 186px; bottom: -2px;}
.all-goods .poseight{left: 186px; bottom: -2px;}
.all-goods .posnine{left: 186px; bottom: -2px;}
.all-goods .posten{left: 186px; bottom: -2px;}
.all-goods .poseleven{left: 186px; bottom: -2px;}
.all-goods .product-wrap h2{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.all-goods .product-wrap h2 a{
	height: auto;
	line-height: 16px;
	color: #333;
	padding-left: 0;
}
.all-goods .product-wrap ul{border-top: 2px solid #c1c1c1; }
.all-goods .product-wrap ul li{
	float: left; 
	display: inline; 
	margin-right: 15px; 
	margin-top: 15px; 
	white-space:nowrap;
}
.all-goods .product-wrap ul li a{
	padding-left: 30px; 
	background: no-repeat -8px -249px;
	color: #666666;
	display: inline-block;
	line-height: 18px; 
	text-decoration: none; 
	font-weight:bold;
}

.all-goods .product-wrap ul li a:hover{
	text-decoration: none; 
	background-position: -8px -219px; 
	color: #ff6600;
}
.all-goods .product-wrap div dd,.all-goods .product-wrap div dl a{
	display:block; 
	width:185px; 
	height:120px; 
	overflow:hidden;
}
#content{
	width:1280px;
	margin:0 auto;
	font-family: "宋体", "Microsoft Yahei", arial, simhei;
}

.c{
	overflow: hidden;
	width: 730px;
	/* padding: 0 5px; */
	margin: 0 0 0 229px;
	background-color: #FFFFFF;
}
.c1{
	height: 401px;
	margin:20px 0;
	*overflow:hidden;
}
.c1_l{
	float: left;
	width: 730px;
	height: 405px;
}
.c1_slide{
	/* width: 730px; */
	height: 314px;
	position: relative;
	overflow: hidden;
}
.c1_slide ul{
	width: 730px;
	height: 314px;
	position: absolute;
	top: 0;
	left: 0;
}
.c1_slide li{
	float: left;
	width: 730px;
	height: 100%;
	position: relative;
}
.c1_slide li span{
	display: block;
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/r.png) repeat-x 0 -91px;
	color: #FFFFFF;
	font:16px/35px microsoft yahei;
	text-align: center;
}
.cl_slider li a,.cl_slider li img{
	display: block;
	opacity:1; 
	filter:alpha(opacity=100);
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.cl_slider li a:hover img{
	opacity:0.75; 
	filter:alpha(opacity=75);
}
.c1_paging{
	width: 100%;
	height: 91px;
	background: url(../images/r.png) repeat-x 0 0;
}
.c1_paging ul{}
.c1_paging li{
	float: left;
	width: 118px;
	height: 91px;
	margin:0 1px;
	position: relative;
}
.c1_paging li.active i{
	display:block;
	position:absolute;
	top:-10px;
	left:0;
	height:101px;
	width:120px;
	background: url(../images/i_i.png) no-repeat 0 0;
}
.c1_paging li:hover b,.c1_paging li.active b{display: none;}
.c1_paging li img,.c1_paging li b{
	position: absolute;
	top:13px;
	left: 13px;
}
.c1_paging li b{
	background: url(../images/opacity.png) no-repeat 0 0;
	width:110px;
	height: 65px;
}
.content_r{
	width:320px;
	float:right;
}
.r_code{
	background:url(../images/r_code.png) no-repeat;
}
.ad{
	width:1280px;
	margin:0 auto;
}
.ad_l{
	width:960px;
	float:left;
	margin:20px auto;
	padding:0;
}
.ad_r{
	width:311px;
	float:right;
	margin:20px auto;
	padding:0;
}
.floor{
	margin:10px auto;
}
.floor_l{
	width:960px;
	float:left;
}
.floor_head{
	height:30px;
	line-height:30px;
	padding:5px;
	border-bottom:2px solid #000;
}
.floor_head strong{
	font-size:24px;
	color:#000;
	font-family:"微软雅黑";
	margin:10px;
	padding:10px;
}
.floor_head p{
	float:right;
	margin:5px;
}
.floor_head a{
	color:#666;
	padding:5px;
}
.floor_b{
	float:left;
	width:216px;
}
.floor_l_navi{
	width:186px;
	height:261px;
	padding:15px;
	text-align:center;
	background:#F90;
}
.floor_l_ad{
	width:186px;
	background:#F90;
	padding:15px 15px 26px 15px
}
.product_t{
	height:286px;
}
.floor_l_r{
	width: 744px;
	float: left;
}
.floor_l_r dl{
	width: 174px;
	float:left;
	border:1px solid #ccc;
	margin:7px 0 0 10px;
}
.floor_l_r dt{
	width:174px;
	margin:0 auto;
}
.floor_l_r dt img{
	margin:5px 20px;
		
}
.floor_l_r dd{
	width:174px;	
}
.floor_l_r dd strong{
	font-size:18px;
	padding:10px;
	color:#bc001d;
	font-weight:bold;
}
.floor_l_r dd p{
	padding:5px;
}
.floor_l_r dd a{
	color:#000;
	padding:5px;
}
.floor_l_r dd span{
	padding:10px;
	text-decoration:line-through;
}
.cart_button{
	background:url(../images/cart.png) no-repeat;
	float:right;
	width:37px;
	height:37px;
	border:none;
	position:relative;
	right:15px;
	bottom:15px;
}
.floor_r{
	float:right;
	width:311px;
}
.floor_r_top{
	height:42px;
	line-height:42px;
	background:url(../images/R_bg.png) no-repeat #F90 12px 13px;
}
.floor_r_top strong{
	float:left;
	font-size:24px;
	padding-left:40px;
	color:#fff;
	font-family:"微软雅黑";
}
.floor_r_top p{
	float:right;
	padding-right:30px;
	color:#fff;
	font-size:14px;
}

.navi_l li{
	width:74px;
	text-align:center;
	float:left;
	padding:8px;
	border-bottom:1px dotted #fff;
}
.floor_l_navi li a{
	color:#fff;
	font-size:14px;
}
.floor_l_navi li a:hover{
	color:#000;
}
.floor_r_bottom{
	border:1px solid #ccc;
	width:309px;
	height:359px;
	margin-top:10px;
}
.floor_r_bottom dl{
	/*width:320px;*/
	margin:0;
	padding:0;
}
.floor_r_bottom dt{
	width:66px;
	float:left;
	margin:12px 4px 0 9px;
	padding:5px;
}
.floor_r_bottom dd{
	width: 194px;
	float: left;
	line-height: 12px;
	margin: 5px 0 0 5px;
	padding: 5px 0 0 5px;
}
.floor_r_bottom dl dd p{
	padding:8px 0;
}
.floor_r_bottom dl dd p a{
	/* margin: 2px; */
	/* padding: 5px; */
	color: #000;
	line-height: 18px;
}
.floor_r_bottom dl dd strong{
	font-size: 18px;
	/* padding: 5px; */
	/* margin: 31px; */
	font-weight: bold;
	line-height: 22px;
}
.floor_r_bottom dl dd span{
	text-decoration:line-through;
	padding:5px;
	margin:5px;
}
.ad_b{
	margin-top:14px;
}
.ad_b_l{
	float:left;
}
.ad_b_r{
	float:right;
}

#border{
	font-size:12px;
	line-height:28px;
	text-align:center;
	font-family:"Times New Roman", Times, serif, "微软雅黑";
	padding-bottom:10px;
}

#border a{
	text-decoration:none;
	color:#000;
	margin-left:10px;
}
#border a:hover{
	text-decoration:underline;
}
#border span{
	color:#000;
}
#footer{
	padding-top:40px;
	margin:0 auto;
	text-align:center;
}

#footer .desc{
	background: #140f2f;
}

#footer img{
	display: block;
	margin: 0 auto;
}
